<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
  
  <div class="main-content">
   {{>header}}

   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis hic ad odio, in earum, fuga est perferendis eveniet asperiores corrupti praesentium minus iusto omnis debitis totam explicabo illo libero delectus voluptate accusantium saepe quae excepturi, non quis. Pariatur vitae dolores distinctio natus nisi aperiam repellendus quisquam temporibus, atque, sunt ut nihil, deleniti adipisci ad sint odio? Rem fugiat, sunt at quidem est quos optio iusto fuga nisi! Earum, commodi natus? Distinctio mollitia repellendus repellat necessitatibus quis rerum iusto molestiae quisquam exercitationem, minima illum quas magni commodi neque! Ut quisquam ad, possimus nam, illo inventore eaque fuga neque dolor laboriosam veniam odio maiores eos tempora, vel laudantium iusto. Excepturi eaque ipsa dignissimos quaerat culpa cupiditate mollitia! Saepe, amet accusamus tempore excepturi nesciunt, rerum repellat veniam, quibusdam dolorum modi fugiat distinctio animi? Repellat odio maiores quidem earum, impedit eaque iste temporibus explicabo odit pariatur laudantium voluptate aspernatur iure laboriosam sequi iusto cum distinctio voluptatibus ipsum quam perspiciatis placeat, rerum nostrum harum? Sequi autem ratione quaerat tempore necessitatibus, maxime rerum repudiandae dolore quae deleniti illo dolorum quisquam maiores saepe, repellendus vero nobis magnam! Alias vero ratione molestias repudiandae accusantium molestiae. Aperiam id facere hic aspernatur optio minima reprehenderit facilis, autem ut, cupiditate assumenda et officia reiciendis dignissimos fugiat vero earum maxime, eum nemo. Vero, libero? Ex praesentium officia nihil eaque, hic asperiores magnam ea quaerat doloremque, veniam corporis quia reprehenderit, aliquam mollitia aspernatur aperiam itaque voluptatem magni consequuntur. Nisi, veniam cupiditate nesciunt quos vero esse dignissimos necessitatibus vitae sunt nostrum fugit perspiciatis quibusdam, soluta totam nobis asperiores iure molestias? Aspernatur ullam tenetur est dolore quidem quae iusto aliquam officia quo quasi eaque beatae, molestiae atque expedita quis distinctio placeat non voluptatem delectus veniam exercitationem, soluta amet illum labore? Voluptatum, nemo culpa! Porro, placeat iste voluptas amet, pariatur quia voluptatibus corrupti nihil incidunt maiores, unde laudantium? Illum dicta libero veritatis saepe ipsam explicabo expedita consequuntur tempora. Libero voluptates quis praesentium aliquid harum aspernatur optio ducimus corporis error repellat quam minus debitis, consequuntur repudiandae exercitationem dolorem et. Eaque ullam quos optio dignissimos tempora quibusdam, nam doloremque vel ut repellendus sint nisi libero recusandae. Hic earum a ea autem perspiciatis reprehenderit non consectetur facilis architecto vero necessitatibus nemo, distinctio et vitae delectus qui ullam vel eligendi iure.
  
   </p>
  </div>
   

   {{>footer}}

    {{!-- <script src="./js/index.js"></script> --}}

</body>

</html>