<footer>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto quibusdam veniam rem eum nesciunt odit perspiciatis
        similique amet, officia, autem suscipit assumenda tempore vero quae, accusamus minus illum reprehenderit libero
        minima voluptatibus fugit cum reiciendis. Distinctio, sunt nisi magni dicta eius maxime ea tempore odio ullam.
        Aspernatur officiis vitae itaque?
    </p>
    
    <p>Created by {{name}} </p>

</footer>